.hide {
  display: none !important;
}

.blur {
  filter: blur(1.2px) !important;
}

.highlightOnHover {
  cursor: pointer;
}

.highlightOnHover:hover {
  border-color: #b3d7ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.glowing {
  top: 0;
  left: 0;
  animation-name: glowing;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  border-radius: .25rem;
}

@keyframes glowing {
  0% {
    box-shadow: inset 0px 0 2px;
  }
  50% {
    box-shadow: inset 0px 0 10px;
  }
  100% {
    box-shadow: inset 0px 0 2px;
  }
}
